/* Default */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/search-box.css";
@import "components/side-bar.css";

/* Screens */
@import "screens/community-screen.css";
@import "screens/find-screen.css";
@import "screens/info-screen.css";
@import "screens/jobs-screen.css";
@import "screens/join-screen.css";
@import "screens/login-screen.css";
@import "screens/main-screen.css";
@import "screens/mypage-screen.css";
@import "screens/post-screen.css";

/* Animations */

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
