.sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 183, 255, 0.4);
  width: var(--sidebar-margin);
  height: 100vh;
  padding-top: 20px;
}

.sidebar__title div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.sidebar__title--span span:first-child {
  margin-bottom: 5px;
}

.sidebar__nav-user {
  display: flex;
  justify-content: space-evenly;
  margin-top: 95px;
  font-size: 15px;
  width: var(--sidebar-margin);
}

.sidebar__nav-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  margin-top: 150px;
}

.sidebar__nav-main a {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}

.sidebar__nav-main i {
  margin-right: 10px;
}
